/* General -------------------------------------*/
*{
    margin:0;
    box-sizing: border-box;
}
/* body -----------------------------------------*/
body{
    background-color:rgb(236, 202, 9);
}
/*conteneur-------------------------------------*/
#wrapper{
    width:82%;
    margin:auto; /*la meme taille a gauche et a droite pour des block centrer*/
    text-align: center; 
}
/* header-------------------------------------- */
header img{  
   width:100%;
   vertical-align: top; /* reduire lespace*/
}
/* title  ----------------------------------*/
h1{
    padding: 1%;
    background-color: rgb(20, 106, 235);
    color:white;
    border:1px solid white;
}

h2{
    padding-top: 2%;
    padding-bottom: 2%;
    color:rgb(236, 202, 9);
}

h3{ padding: 2%;
    text-align: center;
}

/* list ----------------------------------*/
nav{
    height:fit-content;
    background-color: rgb(20, 106, 235); 
    width: 100%;
    text-align: center;
}
ul{
    padding: 1%;/* espace en haut et en bas*/
   
    
}
li{
    list-style-type: none;   
}
a{  
    color:white;
}
/* maih ----------------------------------*/
main{
    width: 100%;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: white;
    display: flex; 
    /*text-align: center;*/
}
/* fin list ----------------------------------*/
article
{   width: 65%;
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
}
/* legende----------------------------------*/
aside{
    width: 20%;
    padding: 1%;
    background-color: rgb(20, 106, 235);
    color:white;
    text-align: center;   
}

aside img{
    width: 55%;
    margin: 0%;
    border:1px solid white;
}
aside p{
    text-align: justify;
}
/* footer----------------------------------*/
footer{
    background-color: rgb(0, 0, 71);
    color: rgb(255, 255, 255);
}
