
/* General -------------------------------------*/
*{
    margin:0;
    box-sizing: border-box;
}
/* body -----------------------------------------*/
body{
    background-color:rgb(236, 202, 9);
}
/*conteneur-------------------------------------*/
#wrapper{
    width:82%;
    margin:auto; /*la meme taille a gauche et a droite pour des blocks centrer*/
    text-align: center; 
}
/* header-------------------------------------- */
header img{
   width:100%;
   vertical-align: top; /*enlevé espacement entre image et celui du dessous*/
}
/* title  ----------------------------------*/
h1{
    background-color: rgb(20, 106, 235);
    color:white;
}

h2{
    padding: 1%;
    color:rgb(236, 202, 9);
}

h3{ padding: 4%;
    text-align: center;

}
/* maih ----------------------------------*/
main{
    width: 100%;
    padding: 2%;/* espace en haut et en bas*/
    background-color: white;
    display: flex;
    
    /*text-align: center;*/
}
/* list ----------------------------------*/
nav{
    width: 20%;
    padding: 0%;
}
ul{
    padding: 0%;/* espace en haut et en bas*/
    text-align: center;
}
li{
    padding: 1%;
    list-style-type: none;
    background-color: rgb(20, 106, 235);
}
a{  padding: 5%;
    color:white;
}
/* fin list ----------------------------------*/
article
{
    padding: 1%;
    width: 75%;
    text-align: justify;
}
/* legende----------------------------------*/
aside{
    width: 26%;
    padding: 1%;
    background-color: rgb(20, 106, 235);
    color:white;
    text-align: center;    
}
aside img{
    width: 70%;
    margin: 10%;
    border: 1px solid white;
}
aside p{
    text-align: justify;
}
/* footer----------------------------------*/
footer{
    background-color: rgb(0, 0, 71);
    color: rgb(255, 255, 255);
}
